body{
font-family: Arial;
background:#f2f2f2;
text-align:center;
}

.container{
background:white;
width:350px;
margin:auto;
margin-top:80px;
padding:30px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
border-radius:10px;
}

input{
width:90%;
padding:10px;
margin:8px;
border:1px solid #ccc;
border-radius:5px;
}

button{
width:95%;
padding:12px;
background:#f36f21;
color:white;
border:none;
font-size:16px;
cursor:pointer;
border-radius:5px;
}
